#navbar{
	background-color: @tlightgray;
	width: 100%;
	z-index: 1000;
	height: 100px;
	text-align: center;
	#menu-toggle{
		height: 100%;
		display: inline-block;
		float: left;
		text-decoration: none;
		> div{
			.vertical-align;
			display: inline-block;
			vertical-align: middle;
  			line-height: 20px;
  			font-size: 15px;
  			color: @tblack;
  			.upperfont;
  			.heavyfont;
		}
		padding: 10px;
	}
	.logobox{
		height: 100%;
		display: inline-block;
		padding: 10px;
		left: 50%;
  		position: absolute;
  		margin-left: -100px;
		div{
			.vertical-align;
		}
	}
	.namebox{
		height: 100%;
		display: inline-block;
		padding: 10px;
		float: right;
		a.block-set{
			min-width: 140px;
			.vertical-align;
			text-decoration: none;
			&:focus{
				color: @twhite;
			}
		}
		.user{
			.vertical-align;
			 width: 30px;
			  height: 30px;
			  display: inline-block;
			  line-height: 40px;
			  font-size: 25px;
			  vertical-align: top;
			  overflow: hidden;
			  margin-right: 10px;
		}
	}
	.menu-hamburger-wrap{
		div {
			border: 1px solid @tblack;
			height: 4px;
			width: 25px;
			margin-bottom:2px;
		}
		~ div {
			padding-left: 10px;
		}
	}
	font-size: 15px;
  	color: @tblack;
  	#wrapper.toggled-right & {
  		//margin-left: -250px;
  	}

}
#page-content-wrapper{
	padding-top: 120px;
}