html{
  height: 100%;
}
body{
	font-family: "Lato", sans-serif;
	color: @tblack;
	font-weight: 400;
  height:100%;
  //background-image: url('../images/bg.jpg');
  //background-size: cover;
  background-color: @twhite;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Oswald:400,300,700);

@tblack: #010101;
@tgray: #a7a9ab;
@tlightgray: #f1efef;
@tlightblue: #02b6e6;
@tblue: #099ec2;
@twhite: #ffffff;
@black: #010101;
@gray: #a7a9ab;
@lightgray: #f1efef;
@lightblue: #02b6e6;
@blue: #099ec2;
@white: #ffffff;

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         @tlightblue;


@colors: 'black', 'gray', 'lightgray', 'lightblue', 'blue','white';


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Lato", Helvetica, sans-serif;
@font-family-base:        @font-family-sans-serif;
@font-size-base:          10px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1:            floor((@font-size-base * 3.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 3.0)); // ~30px
@font-size-h3:            ceil((@font-size-base * 2.4)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.8)); // ~18px
@font-size-h5:            ceil((@font-size-base * 1.4)); // ~18px
@font-size-h6:            ceil((@font-size-base * 1.2)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;


@navbar-height:			100px;


.headfont{
	font-family: "Oswald", "Oswald", sans-serif;
} 
.bodyfont{
	font-family: "Lato", Helvetica, sans-serif;
}
.lightfont{
	font-weight: 100;
}
.upperfont{
	text-transform: uppercase;
}
.heavyfont{
	font-weight: 700;
}



.dtran{
  transition: all 0.1s ease, color 0.05s ease;
}

.bd-{
    .-(@i: length(@colors)) when (@i > 0) {
        @name: e(extract(@colors, @i));
        &@{name} {border-color: @@name}
        &hv-@{name}:hover {border-color: @@name}
        .-((@i - 1));
    } .-;
}

.bd-xs{border-width:1px;}
.bd-sm{border-width:2px;}
.bd-md{border-width:3px;}
.bd-lg{border-width:4px;}
.bd-xl{border-width:5px;}

.bd-zero{border-width:0px;}

.bd-xs{&.bd-right{border-right-width:1px;}&.bd-left{border-left-width:1px;}&.bd-top{border-top-width:1px;}&.bd-bottom{border-bottom-width:1px;}border-style:solid;}
.bd-sm{&.bd-right{border-right-width:2px;}&.bd-left{border-left-width:2px;}&.bd-top{border-top-width:2px;}&.bd-bottom{border-bottom-width:2px;}border-style:solid;}
.bd-md{&.bd-right{border-right-width:3px;}&.bd-left{border-left-width:3px;}&.bd-top{border-top-width:3px;}&.bd-bottom{border-bottom-width:3px;}border-style:solid;}
.bd-lg{&.bd-right{border-right-width:4px;}&.bd-left{border-left-width:4px;}&.bd-top{border-top-width:4px;}&.bd-bottom{border-bottom-width:4px;}border-style:solid;}
.bd-xl{&.bd-right{border-right-width:5px;}&.bd-left{border-left-width:5px;}&.bd-top{border-top-width:5px;}&.bd-bottom{border-bottom-width:5px;}border-style:solid;}



.tx-{
    .-(@i: length(@colors)) when (@i > 0) {
        @name: e(extract(@colors, @i));
        &@{name} {color: @@name}
        &hv-@{name}:hover {color: @@name}
        &vs-@{name}:visited {color: @@name}
        .-((@i - 1));
    } .-;
}

.bg-{
    .-(@i: length(@colors)) when (@i > 0) {
        @name: e(extract(@colors, @i));
        &@{name} {background-color: @@name}
        &hv-@{name}:hover {background-color: @@name}
        .-((@i - 1));
    } .-;
}


@base-space: 10px;

.pd{
  &-v-xs{padding-top: 1*@base-space;padding-bottom: 1*@base-space;}
  &-v-sm{padding-top: 2*@base-space;padding-bottom: 2*@base-space;}
  &-v-md{padding-top: 3.5*@base-space;padding-bottom: 3.5*@base-space;}
  &-v-lg{padding-top: 5*@base-space;padding-bottom: 5*@base-space;}
  &-v-xl{padding-top: 10*@base-space;padding-bottom: 10*@base-space;}
  &-h-xs{padding-left: 1*@base-space;padding-right: 1*@base-space;}
  &-h-sm{padding-left: 2*@base-space;padding-right: 2*@base-space;}
  &-h-md{padding-left: 3.5*@base-space;padding-right: 3.5*@base-space;}
  &-h-lg{padding-left: 5*@base-space;padding-right: 5*@base-space;}
  &-h-xl{padding-left: 10*@base-space;padding-right: 10*@base-space;}
  &-xs{padding: 1*@base-space;}
  &-sm{padding: 2*@base-space;}
  &-md{padding: 3.5*@base-space;}
  &-lg{padding: 5*@base-space;}
  &-xl{padding: 10*@base-space;}
  &-n{padding:0px;}
  &-v-n{padding-top:0px; padding-bottom: 0px;}
  &-h-n{padding-left:0px;padding-right: 0px;}
}
.mg{
  &-v-xs{margin-top: 1*@base-space;margin-bottom: 1*@base-space;}
  &-v-sm{margin-top: 2*@base-space;margin-bottom: 2*@base-space;}
  &-v-md{margin-top: 3.5*@base-space;margin-bottom: 3.5*@base-space;}
  &-v-lg{margin-top: 5*@base-space;margin-bottom: 5*@base-space;}
  &-v-xl{margin-top: 10*@base-space;margin-bottom: 10*@base-space;}
  &-h-xs{margin-left: 1*@base-space;margin-right: 1*@base-space;}
  &-h-sm{margin-left: 2*@base-space;margin-right: 2*@base-space;}
  &-h-md{margin-left: 3.5*@base-space;margin-right: 3.5*@base-space;}
  &-h-lg{margin-left: 5*@base-space;margin-right: 5*@base-space;}
  &-h-xl{margin-left: 10*@base-space;margin-right: 10*@base-space;}
  &-xs{margin: 1*@base-space;}
  &-sm{margin: 2*@base-space;}
  &-md{margin: 3.5*@base-space;}
  &-lg{margin: 5*@base-space;}
  &-xl{margin: 10*@base-space;}
  &-n{margin:0px;}
  &-v-n{margin-top:0px; margin-bottom: 0px;}
  &-h-n{margin-left:0px;margin-right: 0px;}
}


.inline-b{
  display: inline-block;
}
.inline{
  display: inline;
}
.block{
  display: block;
}



.container-mix{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media(min-width: @screen-sm){
      max-width: 750px;
    }
    @media(min-width: @screen-md){
      max-width: 970px;
    }
    @media(min-width: @screen-lg){
      max-width: 1170px;
    }
}


.full{
	&-w{width: 100%;}
	&-h{height: 100%;}
}

.d-in-b{
	display:inline-block;
}
.d-in{
	display:inline;
}


.vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}





@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?ki4kj1');
  src:url('../fonts/icomoon.eot?#iefixki4kj1') format('embedded-opentype'),
    url('../fonts/icomoon.woff?ki4kj1') format('woff'),
    url('../fonts/icomoon.ttf?ki4kj1') format('truetype'),
    url('../fonts/icomoon.svg?ki4kj1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e600";
}

.icon-plus2:before {
  content: "\e601";
}

.icon-circle-plus:before {
  content: "\e602";
}

.icon-arrow-move-outline:before {
  content: "\e603";
}

.icon-arrow-down-outline:before {
  content: "\e604";
}

.icon-arrow-up-outline:before {
  content: "\e605";
}

.icon-arrow-left-outline:before {
  content: "\e606";
}

.icon-arrow-right-outline:before {
  content: "\e607";
}

.icon-user:before {
  content: "\e608";
}

.icon-circle-with-plus:before {
  content: "\e609";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-target:before {
  content: "\e9b3";
}

.icon-plus3:before {
  content: "\ea0a";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-mail3:before {
  content: "\ea85";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-linkedin:before {
  content: "\eac8";
}

.icon-linkedin2:before {
  content: "\eac9";
}

.icon-facebook:before {
  content: "\e60a";
}

.icon-facebook2:before {
  content: "\e60b";
}

.icon-facebook3:before {
  content: "\e60c";
}

.icon-cross:before {
  content: "\e60d";
}

.icon-cancel-circle:before {
  content: "\e60e";
}

.icon-plus-alt:before {
  content: "\e60f";
}

.icon-arrow-right:before {
  content: "\e610";
}

.icon-arrow-left:before {
  content: "\e611";
}

.icon-arrow-down:before {
  content: "\e612";
}

.icon-arrow-up:before {
  content: "\e613";
}

.icon-plus-circle:before {
  content: "\e614";
}

.icon-group:before {
  content: "\e615";
}

.icon-user:before {
  content: "\e616";
}

.icon-users:before {
  content: "\e617";
}

.icon-user2:before {
  content: "\e618";
}

.icon-user3:before {
  content: "\e619";
}


