html{
  height: 100%;
}
body{
	font-family: "Lato", sans-serif;
	color: @tblack;
	font-weight: 400;
  height:100%;
  //background-image: url('../images/bg.jpg');
  //background-size: cover;
  background-color: @twhite;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Oswald:400,300,700);

@tblack: #010101;
@tgray: #a7a9ab;
@tlightgray: #f1efef;
@tlightblue: #02b6e6;
@tblue: #099ec2;
@twhite: #ffffff;
@black: #010101;
@gray: #a7a9ab;
@lightgray: #f1efef;
@lightblue: #02b6e6;
@blue: #099ec2;
@white: #ffffff;

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         @tlightblue;


@colors: 'black', 'gray', 'lightgray', 'lightblue', 'blue','white';


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Lato", Helvetica, sans-serif;
@font-family-base:        @font-family-sans-serif;
@font-size-base:          10px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1:            floor((@font-size-base * 3.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 3.0)); // ~30px
@font-size-h3:            ceil((@font-size-base * 2.4)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.8)); // ~18px
@font-size-h5:            ceil((@font-size-base * 1.4)); // ~18px
@font-size-h6:            ceil((@font-size-base * 1.2)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;


@navbar-height:			100px;


.headfont{
	font-family: "Oswald", "Oswald", sans-serif;
} 
.bodyfont{
	font-family: "Lato", Helvetica, sans-serif;
}
.lightfont{
	font-weight: 100;
}
.upperfont{
	text-transform: uppercase;
}
.heavyfont{
	font-weight: 700;
}
.size-md{font-size: 12px;}


.dtran{
  transition: background-color 0.1s ease;
}

.bd-{
    .-(@i: length(@colors)) when (@i > 0) {
        @name: e(extract(@colors, @i));
        &@{name} {border-color: @@name}
        &hv-@{name}:hover {border-color: @@name}
        .-((@i - 1));
    } .-;
}

.bd-xs{border-width:1px;}
.bd-sm{border-width:2px;}
.bd-md{border-width:3px;}
.bd-lg{border-width:4px;}
.bd-xl{border-width:5px;}

.bd-zero{border-width:0px;}

.bd-xs{&.bd-right{border-right-width:1px;}&.bd-left{border-left-width:1px;}&.bd-top{border-top-width:1px;}&.bd-bottom{border-bottom-width:1px;}border-style:solid;}
.bd-sm{&.bd-right{border-right-width:2px;}&.bd-left{border-left-width:2px;}&.bd-top{border-top-width:2px;}&.bd-bottom{border-bottom-width:2px;}border-style:solid;}
.bd-md{&.bd-right{border-right-width:3px;}&.bd-left{border-left-width:3px;}&.bd-top{border-top-width:3px;}&.bd-bottom{border-bottom-width:3px;}border-style:solid;}
.bd-lg{&.bd-right{border-right-width:4px;}&.bd-left{border-left-width:4px;}&.bd-top{border-top-width:4px;}&.bd-bottom{border-bottom-width:4px;}border-style:solid;}
.bd-xl{&.bd-right{border-right-width:5px;}&.bd-left{border-left-width:5px;}&.bd-top{border-top-width:5px;}&.bd-bottom{border-bottom-width:5px;}border-style:solid;}



.tx-{
    .-(@i: length(@colors)) when (@i > 0) {
        @name: e(extract(@colors, @i));
        &@{name} {color: @@name}
        &hv-@{name}:hover {color: @@name}
        &vs-@{name}:visited {color: @@name}
        .-((@i - 1));
    } .-;
}

.bg-{
    .-(@i: length(@colors)) when (@i > 0) {
        @name: e(extract(@colors, @i));
        &@{name} {background-color: @@name}
        &hv-@{name}:hover {background-color: @@name}
        .-((@i - 1));
    } .-;
}
.bg-none{ background-color: transparent;}


@base-space: 10px;

.pd{
  &-v-xs{padding-top: 1*@base-space;padding-bottom: 1*@base-space;}
  &-v-sm{padding-top: 2*@base-space;padding-bottom: 2*@base-space;}
  &-v-md{padding-top: 3.5*@base-space;padding-bottom: 3.5*@base-space;}
  &-v-lg{padding-top: 5*@base-space;padding-bottom: 5*@base-space;}
  &-v-xl{padding-top: 10*@base-space;padding-bottom: 10*@base-space;}
  &-h-xs{padding-left: 1*@base-space;padding-right: 1*@base-space;}
  &-h-sm{padding-left: 2*@base-space;padding-right: 2*@base-space;}
  &-h-md{padding-left: 3.5*@base-space;padding-right: 3.5*@base-space;}
  &-h-lg{padding-left: 5*@base-space;padding-right: 5*@base-space;}
  &-h-xl{padding-left: 10*@base-space;padding-right: 10*@base-space;}
  &-xs{padding: 1*@base-space;}
  &-sm{padding: 2*@base-space;}
  &-md{padding: 3.5*@base-space;}
  &-lg{padding: 5*@base-space;}
  &-xl{padding: 10*@base-space;}
  &-n{padding:0px;}
  &-v-n{padding-top:0px; padding-bottom: 0px;}
  &-h-n{padding-left:0px;padding-right: 0px;}
}
.mg{
  &-v-xs{margin-top: 1*@base-space;margin-bottom: 1*@base-space;}
  &-v-sm{margin-top: 2*@base-space;margin-bottom: 2*@base-space;}
  &-v-md{margin-top: 3.5*@base-space;margin-bottom: 3.5*@base-space;}
  &-v-lg{margin-top: 5*@base-space;margin-bottom: 5*@base-space;}
  &-v-xl{margin-top: 10*@base-space;margin-bottom: 10*@base-space;}
  &-h-xs{margin-left: 1*@base-space;margin-right: 1*@base-space;}
  &-h-sm{margin-left: 2*@base-space;margin-right: 2*@base-space;}
  &-h-md{margin-left: 3.5*@base-space;margin-right: 3.5*@base-space;}
  &-h-lg{margin-left: 5*@base-space;margin-right: 5*@base-space;}
  &-h-xl{margin-left: 10*@base-space;margin-right: 10*@base-space;}
  &-xs{margin: 1*@base-space;}
  &-sm{margin: 2*@base-space;}
  &-md{margin: 3.5*@base-space;}
  &-lg{margin: 5*@base-space;}
  &-xl{margin: 10*@base-space;}
  &-n{margin:0px;}
  &-v-n{margin-top:0px; margin-bottom: 0px;}
  &-h-n{margin-left:0px;margin-right: 0px;}
}


.inline-b{
  display: inline-block;
}
.inline{
  display: inline;
}
.block{
  display: block;
}



.container-mix{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media(min-width: @screen-sm){
      max-width: 750px;
    }
    @media(min-width: @screen-md){
      max-width: 970px;
    }
    @media(min-width: @screen-lg){
      max-width: 1170px;
    }
}


.full{
	&-w{width: 100%;}
	&-h{height: 100%;}
}

.d-in-b{
	display:inline-block;
}
.d-in{
	display:inline;
}


.vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* firefox fix */
.img-responsive {
  width: 100%;
}

/* vertical alignment styles */
.col-top {
  vertical-align:top;
}
.col-middle {
  vertical-align:middle;
}
.col-bottom {
  vertical-align:bottom;
}





.tx-left-not-xs, .tx-left-not-sm, .tx-left-not-md, .tx-left-not-lg {
    text-align: left;
}
.tx-center-not-xs, .tx-center-not-sm, .tx-center-not-md, .tx-center-not-lg {
    text-align: center;
}
.tx-right-not-xs, .tx-right-not-sm, .tx-right-not-md, .tx-right-not-lg {
    text-align: right;
}
.tx-justify-not-xs, .tx-justify-not-sm, .tx-justify-not-md, .tx-justify-not-lg {
    text-align: justify;
}

@media (max-width: @screen-sm) {
    .tx-left-not-xs, .tx-center-not-xs, .tx-right-not-xs, .tx-justify-not-xs {
        text-align: inherit;
    }
    .tx-left-xs {
        text-align: left;
    }
    .tx-center-xs {
        text-align: center;
    }
    .tx-right-xs {
        text-align: right;
    }
    .tx-justify-xs {
        text-align: justify;
    }
}
@media (min-width: @screen-sm) and (max-width: @screen-md) {
    .tx-left-not-sm, .tx-center-not-sm, .tx-right-not-sm, .tx-justify-not-sm {
        text-align: inherit;
    }
    .tx-left-sm {
        text-align: left;
    }
    .tx-center-sm {
        text-align: center;
    }
    .tx-right-sm {
        text-align: right;
    }
    .tx-justify-sm {
        text-align: justify;
    }
}
@media (min-width: @screen-md) and (max-width: @screen-lg) {
    .tx-left-not-md, .tx-center-not-md, .tx-right-not-md, .tx-justify-not-md {
        text-align: inherit;
    }
    .tx-left-md {
        text-align: left;
    }
    .tx-center-md {
        text-align: center;
    }
    .tx-right-md {
        text-align: right;
    }
    .tx-justify-md {
        text-align: justify;
    }
}
@media (min-width: @screen-lg) {
    .tx-left-not-lg, .tx-center-not-lg, .tx-right-not-lg, .tx-justify-not-lg {
        text-align: inherit;
    }
    .tx-left-lg {
        text-align: left;
    }
    .tx-center-lg {
        text-align: center;
    }
    .tx-right-lg {
        text-align: right;
    }
    .tx-justify-lg {
        text-align: justify;
    }
}

/* columns of same height styles */
.row-same-height {
  display: table;
  width: 100%;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}


@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}

@media (max-width:768px){
  .container-xs-full{
    margin:auto;
    padding:0px;
    width:100%;
  }
}

@media (max-width: 992px) {
  .container-sm-full{
    margin:auto;
    padding:0px;
  }
}

@media (max-width: 1200px) {
  .container-md-full{
    margin:auto;
    padding:0px;
  }
}
.container-full{
  margin:auto;
  padding:0px;
}


@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?ki4kj1');
  src:url('../fonts/icomoon.eot?#iefixki4kj1') format('embedded-opentype'),
    url('../fonts/icomoon.woff?ki4kj1') format('woff'),
    url('../fonts/icomoon.ttf?ki4kj1') format('truetype'),
    url('../fonts/icomoon.svg?ki4kj1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cog:before {
  content: "\e61e";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location2:before {
  content: "\e948";
}

.icon-map2:before {
  content: "\e94b";
}

.icon-search:before {
  content: "\e986";
}

.icon-target:before {
  content: "\e9b3";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-plus3:before {
  content: "\ea0a";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-mail3:before {
  content: "\ea85";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-google:before {
  content: "\ea87";
}

.icon-google-plus:before {
  content: "\ea88";
}

.icon-facebook4:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-twitter2:before {
  content: "\ea92";
}

.icon-github2:before {
  content: "\eab2";
}

.icon-github4:before {
  content: "\eab4";
}

.icon-github5:before {
  content: "\eab5";
}

.icon-tumblr:before {
  content: "\eabb";
}

.icon-tumblr2:before {
  content: "\eabc";
}

.icon-linkedin:before {
  content: "\eac8";
}

.icon-linkedin2:before {
  content: "\eac9";
}

.icon-facebook:before {
  content: "\e60a";
}

.icon-facebook2:before {
  content: "\e60b";
}

.icon-facebook3:before {
  content: "\e60c";
}

.icon-cross:before {
  content: "\e60d";
}

.icon-cancel-circle:before {
  content: "\e60e";
}

.icon-plus-alt:before {
  content: "\e60f";
}

.icon-arrow-right:before {
  content: "\e610";
}

.icon-arrow-left:before {
  content: "\e611";
}

.icon-arrow-down:before {
  content: "\e612";
}

.icon-arrow-up:before {
  content: "\e613";
}

.icon-map:before {
  content: "\e61a";
}

.icon-grid:before {
  content: "\e61b";
}

.icon-list:before {
  content: "\e61c";
}

.icon-grid2:before {
  content: "\e61d";
}

.icon-plus:before {
  content: "\e600";
}

.icon-plus2:before {
  content: "\e601";
}

.icon-circle-plus:before {
  content: "\e602";
}

.icon-arrow-move-outline:before {
  content: "\e603";
}

.icon-arrow-down-outline:before {
  content: "\e604";
}

.icon-arrow-up-outline:before {
  content: "\e605";
}

.icon-arrow-left-outline:before {
  content: "\e606";
}

.icon-arrow-right-outline:before {
  content: "\e607";
}

.icon-chat-3:before {
  content: "\e61f";
}

.icon-user:before {
  content: "\e608";
}

.icon-circle-with-plus:before {
  content: "\e609";
}

.icon-plus-circle:before {
  content: "\e614";
}

.icon-group:before {
  content: "\e615";
}

.icon-user2:before {
  content: "\e616";
}

.icon-users:before {
  content: "\e617";
}

.icon-user3:before {
  content: "\e618";
}

.icon-user4:before {
  content: "\e619";
}






a.block-set{
        line-height: 40px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        padding-left: 10px;
        position: relative;
        font-size: 15px;
        text-decoration: none;
        span{
            height: 40px;
            line-height: 40px;
            //background-color: transparent;
        }
        span ~ span{
            height: 40px;
            line-height: 40px;
            width: 40px;
            display: inline-block;
            position: absolute;
            right: 0;
            text-align: center;
            font-size: 22px;
        }
        &:not(.no-hover):hover {
            text-decoration: none;
            color: @tlightblue;
            span{
                background-color: transparent;
            }
            span ~ span{
                background-color: @twhite;
            }
        }
        &.no-hover:hover{
            color: white;
        }
    }


